/* ********************  HTML TAGS  ******************** */
body {
	background: #add8e6;
	font-family: "Arial", Arial, sans-serif;
	font-size: 14pt;
	padding: 15px;
}

h1 {
	font-size: 5rem;
	text-decoration: underline;
	margin: 2rem;
}

h2 {
	font-size: 3.5rem;
	text-decoration: underline;
	margin: 1.5rem;
}

h3 {
	font-size: 3rem;
	margin: 1rem;
}

h4 {
	font-size: 2rem;
	margin: 0;
}

/* ********************  CLASSES  ******************** */
.board-wrapper {
	display: flex;
	background-color: black;
	margin: 0;
	padding: 5px;
	border-radius: 10px;
}

.catagory {
	margin: 5px;
	display: flex;
	flex-direction: column;
	width: 20%;
}

.cat-title {
	margin: 15px;
	height: 150px;
	background-color: #0000ff;
	font-size: 3rem;
	color: #ffd700;
	text-align: center;
	align-items: center;
	border-radius: 10px;
}

.cat-question {
	margin: 15px;
	height: 150px;
	background-color: #0000ff;
	font-size: 5rem;
	color: #ffd700;
	text-align: center;
	border-radius: 10px;
}

.scoreboard {
	margin: 20px;
	display: flex;
	background: #c0c0c0;
	width: 100%
	padding: 10px;
	text-align: center;
	border: solid 4px black;
	border-radius: 15px;
}

.scorebox {
	margin: 10px;
	background: pink;
	width: 100%;
	border-radius: 20px;
}

/* ********************  IDs  ******************** */
