/* ********************  HTML TAGS  ******************** */
body {
	background: #add8e6;
	font-family: "Arial", Arial, sans-serif;
	font-size: 14pt;
	padding: 15px;
}

h1 {
	font-size: 5rem;
	text-decoration: underline;
	margin: 2rem;
}

h2 {
	font-size: 3.5rem;
	text-decoration: underline;
	margin: 1.5rem;
}

h3 {
	font-size: 3rem;
	margin: 1rem;
}

h4 {
	font-size: 2rem;
	margin: 0;
}

a.visited {
	color: #ffd700;
}

/* ********************  CLASSES  ******************** */
.board-wrapper {
	display: flex;
	background-color: black;
	margin: 0;
	padding: 5px;
	border-radius: 10px;
}

.catagory {
	margin: 5px;
	display: flex;
	flex-direction: column;
	width: 20%;
}

.cat-title {
	margin: 15px;
	height: 150px;
	background-color: #0000ff;
	font-size: 3rem;
	color: #ffd700;
	text-align: center;
	align-items: center;
	border-radius: 10px;
}

.cat-question {
	margin: 15px;
	height: 150px;
	background-color: #0000ff;
	font-size: 5rem;
	color: #ffd700;
	text-align: center;
	border-radius: 10px;
}

.scoreboard {
	margin: 20px;
	display: flex;
	background: #c0c0c0;
	width: 100%
	padding: 10px;
	text-align: center;
	border: solid 4px black;
	border-radius: 15px;
}

.scorebox {
	margin: 10px;
	background: pink;
	width: 100%;
	border-radius: 20px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* ********************  IDs  ******************** */
